src/com/libraryWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.examples.com/wsdl/HelloService.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.examples.com/wsdl/HelloService.wsdl" targetNamespace="http://www.examples.com/wsdl/HelloService.wsdl">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.examples.com/wsdl/HelloService.wsdl">

    <xs:element name="LibraryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LibraryRequest2">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LibraryRequest3">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LibraryRequest4">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="newTitle" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LibraryRequest5">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="newTitle" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="LibraryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Book" type="tns:Book"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Book">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="isRent" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="LibraryRequest">
    <wsdl:part element="tns:LibraryRequest" name="LibraryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LibraryResponse">
    <wsdl:part element="tns:LibraryResponse" name="LibraryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="libraryPort">
    <wsdl:operation name="Library">
      <wsdl:input message="tns:LibraryRequest" name="LibraryRequest">
    </wsdl:input>
      <wsdl:output message="tns:LibraryResponse" name="LibraryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="libraryPortSoap11" type="tns:libraryPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Library">
      <soap:operation soapAction=""/>
      <wsdl:input name="LibraryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="LibraryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="libraryPortService">
    <wsdl:port binding="tns:libraryPortSoap11" name="libraryPortSoap11">
      <soap:address location="http://localhost:8080/service/book-details"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>